* {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: whitman, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 7em;
  text-align: center;
  padding-top: 2em;
}

h2 {
  font-family: upgrade-lights, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5em;
  text-align: center;
  margin-top: 0.5em;
}

h3 {
  font-family: upgrade-lights, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8em;
  text-align: center;
}

.buttonWrapper {
  display: grid;
  grid-auto-rows: minmax(6em, auto);
  /* gap: 1em; */
  justify-items: center;
  margin-top: 8em;
  margin-bottom: 3em;
}
