* {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url(./Images/2.png); */
}

.bodyTheme1 {
  background: url(./Images/1.png);
}
.bodyTheme2 {
  background-image: url(./Images/2.png);
}
.bodyTheme3 {
  background-image: url(./Images/3.png);
}
.bodyTheme4 {
  background: url(./Images/4.png);
}

h1 {
  font-family: whitman, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14em;
  text-align: center;
  padding-top: 0.9em;
}

h2 {
  font-family: upgrade-lights, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3.5em;
  text-align: center;
}

h3 {
  font-family: upgrade-lights, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5em;
  text-align: center;
}

.buttonWrapper {
  display: grid;
  grid-auto-rows: minmax(6em, auto);
  gap: 1.5em;
  justify-items: center;
  margin-top: 6em;
  margin-bottom: 5em;
}

#one {
  position: relative;
  left: 7em;
}

#two {
  position: fixed;
  right: 7.5em;
}

/* Theme selection */

.themeSelector {
  position: absolute;
  right: 30em;
  top: 15em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 7em;
}

#three {
  display: grid;
  justify-items: center;
  margin-top: 58em;
}

.placeHolderCard {
  position: absolute;
  top: 14.5em;
  left: 40em;
}

/* A media Query should be used to make sure it works on a mobile view */

@media (max-width: 1400px) {
  .themeSelector {
    right: 18%;
  }
  .placeHolderCard {
    left: 25%;
  }
}

/* For this section figure out if I can center the two elements then set them down then apart */
@media (max-width: 1200px) {
  .themeSelector {
    position: absolute;
    right: 45%;
    width: 5em;
    top: 17.4em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2em;
  }

  .placeHolderCard {
    left: 20%;
  }
}

@media (max-width: 920px) {
  .placeHolderCard {
    top: 22em;
    left: 17%;
    height: 246.48px;
    width: 168.48px;
  }
}

@media (max-width: 620px) {
  .themeSelector {
    gap: 0;
  }

  .placeHolderCard {
    left: 10%;
  }
}

@media (max-width: 560px) {
  .themeSelector {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    top: 2em;
    left: 31%;
  }

  .placeHolderCard {
    display: none;
    left: 10%;
  }

  #three {
    margin-top: 65em;
    margin-bottom: 2em;
  }
}

@media (max-height: 700px) {
  #two {
    position: absolute;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 8em;
  }
  h2 {
    font-size: 2.8em;
  }

  #one {
    top: 7.5em;
  }
  #two {
    position: absolute;
    margin-top: 7.1em;
    right: 5.5em;
    /* left: 45%;
    top: 7.5em; */
  }
}

/* StartScreen */

.tableWrapper {
  position: absolute;
  left: 25%;
  top: 22em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 6em;
}

#four {
  position: relative;
  left: 7em;
  /* bottom: 9.9em; */
}

#five {
  position: absolute;
  right: 7.5em;
  /* bottom: 9.85em; */
}

.tableBack {
  position: absolute;
  top: 3em;
  left: 3em;
}

.tablePlay {
  display: grid;
  justify-items: center;
  margin-top: 42em;
  margin-bottom: 3em;
}

h4 {
  font-family: whitman, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 4em;
  text-align: left;
}

h5 {
  font-family: upgrade-lights, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.8em;
  text-align: left;
  margin: 0.1em 0;
  /* margin-left: 1em;   */
}

.parameterBox {
  position: absolute;
  /* overflow: normal; */
  /* border: solid; */
  height: 30em;
  /* height: 33em; */
  /* width: 43em; */
  /* width: 30em; */
  margin-left: 53.5%;
  top: 23em;
}

.parametersH5 {
  display: grid;
  gap: 2em 0;
  margin-top: 1em;
  margin-bottom: 3em;
}

.inputWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3em 4em;
  margin-top: 3em;
}

/* .parametersH5 {
  margin-top: 2em;
  margin-bottom: 0em;
} */

h6 {
  font-family: whitman, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10em;
  text-align: center;
  margin-top: 0.7em;
}

input {
  /* width: 15em;
  height: 2em; */
  font-size: 2.5em;
  font-family: "upgrade-lights";
  width: 6em;
  padding: 0.15em 0;
  padding-left: 0.5em;
  /* padding: 12px 20px;
  margin: 8px 0; */
  box-sizing: border-box;

  border: 2px solid red;
  /* border-bottom: */
  border-style: solid;
  border-radius: 10px;

  transition: 0.5s;

  outline: none;

  /* background-color: #3CBC8D;
  color: white; */
}
/* input:hover {
  border: 2px solid #555;
} */
input:focus {
  border: 2px solid #555;
}

@media (max-width: 1350px) {
  .tableWrapper {
    left: 25%;
    gap: 4em;
  }
}

@media (max-width: 1100px) {
  .tableWrapper {
    left: 15%;
    gap: 4em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .tableWrapper {
    left: 12%;
    gap: 4em;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
  }
}

@media (max-width: 780px) {
  .tableWrapper {
    left: 20%;
    top: 20.7em;
    gap: 0em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .parameterBox {
    position: absolute;
    /* border: solid; */
    height: 33em;
    width: 20em;
    margin-left: 53.5%;
    top: 22.5em;
  }
  .tableWrapper a img {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 780px) {
  .parameterBox {
    position: absolute;
    /* overflow: normal; */
    height: 30em;
    /* height: 33em; */
    width: 20em;
    /* width: 30em; */
    margin-left: 53.5%;
    top: 19.5em;
  }
  .inputWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0em 0em;
    margin-top: 0em;
  }
}

@media (max-width: 450px) {
  .secondTitle {
    display: none;
  }
  .tablePlay {
    margin-top: 54em;
  }
  .tableWrapper {
    top: 13em;
  }
  .parameterBox {
    height: 33em;
    width: 16em;
    margin-left: 53.5%;
    top: 10.5em;
  }
  .tableBack {
    left: 25%;
    /* display: grid;
    justify-items: center; */
  }
  h4 {
    font-family: whitman, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3.3em;
    text-align: left;
  }
}
